.DS_Store
.idea/
.sass-cache/
.venv/
venv/
.vagrant/
*.py[co]
*~
tnt_crm/database.db
tnt_crm/tnt_crm/settings/local.py
logs/
pid/
sock/
tmp/
webroot/media/
webroot/static/
*.sublime-project
*.sublime-workspace
/Vagrantfile.local
.ropeproject
*.swp
.env
